$mainFontFamil: 'Roboto',
sans-serif;
$headerFontFamily: 'Montserrat',
sans-serif;
$defaultFontSize: 16px;
$navBackgroundColor: #191919;
$navBackgroundMobileColor: #ffffff;
$navFontColor: #ffffff;
$navMobileFontColor: #000000;
$navFontHoverColor: #ff214f;
$primaryTextColor: #ffffff;
$secondaryTextColor: #ff214f;
$primaryBackgroundColor: #101010;
$buttonBackgroundColor: #ff214f;
$buttonHoverBackgroundColor: #ffffff;
$buttonHoverFontColor: #000000;
$secondaryBackgroundColor: #191919;
$hamburgerBorderColor: #191919;
$buttonSliderBackgroundColor: #ff214f;
$buttonSliderArrowColor: #ffffff;